<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .content {
    display: flex;
    margin: 52px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  .content h2 {
    font-weight: 600;
    color: #b56576;
  }

  .container {
    padding: 2rem;
    min-width: 500px;
  }

  .nav {
    border-radius: 5px;
    text-align: center;
    border-bottom: 1px solid #e9ecef;
    padding: 2rem;
    min-width: 500px;
  }

  .nav a {
    color: #b56576;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #b56576;
    text-decoration: none;
    font-weight: 600;
    margin: auto 2rem;
    padding: 1rem;
  }

  .nav a:hover {
    background-color: #b56576;
    color: #fff;
  }
  .router-link-active {
    background-color: #b56576;
    color: #fff !important;
  }
  .tag {
    font-size: 10px;
    margin-left: 10px;
    border: 1px solid;
    padding: 1.5px;
    border-radius: 3px;
    float: right;
  }
</style>

<div class="search-nav">
  <input
    placeholder="search for symptoms or diseases"
    tabindex="1"
    class="input-search"
    type="text"
    (keyup)="searchItems($event)"
  />

  <svg
    aria-hidden="true"
    focusable="false"
    data-prefix="fas"
    data-icon="search"
    role="img"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 512 512"
    class="svg-search"
  >
    <path
      fill="currentColor"
      d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
      class=""
    ></path>
  </svg>

  <div class="search-results" [hidden]="items.length == 0">
    <ul *ngFor="let item of items">
      <li>
        {{ item.name }} <small class="tag">{{ item.tag }}</small>
      </li>
    </ul>
  </div>
</div>

<div class="content" role="main">
  <h2>Symptoms Library</h2>
  <div class="nav">
    <a [routerLink]="['/symptoms']" routerLinkActive="router-link-active"
      >Symptoms</a
    >
    <a [routerLink]="['/diseases']" routerLinkActive="router-link-active"
      >Diseases</a
    >
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
